@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-bottom: 0;
  background-color: rgb(0,0,0)
}

p {
  color: rgb(220,220,220)
}

h1 {
  color: rgb(230,230,230)
}

A:hover {
  color: rgb(130,130,130)
}